{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
  {{#has visibility="paid"}}
    <h4 class="gh-cta-title">Este artículo es para miembros de pago</h4>
  {{/has}}
  {{#has visibility="members"}}
    <h4 class="gh-cta-title">Este artículo es para suscriptores</h4>
  {{/has}}
  {{#has visibility="filter"}}
    <h4 class="gh-cta-title">Este articulo es para suscriptores en
      {{tiers}}</h4>
  {{/has}}

  <div class="gh-cta-actions">
    {{#if @member}}
      <button
        class="gh-btn gh-primary-btn"
        href="#/portal/account/plans"
        data-portal="account/plans"
      >Upgrade now</button>
    {{else}}
      <button
        class="gh-btn gh-primary-btn"
        href="#/portal/signup"
        data-portal="signup"
      >Suscribirse</button>
      <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Ya
        tienes una cuenta? Entrar.</span>
    {{/if}}
  </div>
</section>